.grid-container {
    display: grid;
    grid-template-areas: "nombre nombre nombre"
                         "blanco desc desc"
                         "blanco desc2 map"
                         "blanco contacto map";
  }

.blanco {
    grid-area: blanco;
}
.nombre {
    grid-area: nombre;
    text-align: center;
}
.desc{
    grid-area: desc;
}
.desc2{
    grid-area: desc2;
}
.img{
    grid-area: img;
    background-color: white
}

.map{
    grid-area: map;
}
.contacto{
    grid-area: contacto;
}

h1 {
    color:blue;
    font-size:600%;
    font-family: 'Great Vibes', cursive;
}

h2 {
    color:aqua;
    text-align: left;
}

* {background-color: black;}